{% extends 'layouts/base.html' %}

{% block title %}
Letters | NSA Out of Academia
{% endblock %}

{% block content %}

<div class="row">
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default">Student</a>
    <a href="#" class="btn btn-default">Alumni</a>
    <a href="#" class="btn btn-default">Citizen</a>
  </div>
</div>

<!-- text box with suggested form letters-->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>To Whom It May Concern</p>
    </div>
  </div>
</div>

{% endblock %}
