{% extends 'layouts/base.html' %}

{% block title %}
NSA Out of Academia
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>NSA OUT OF ACADEMIA</strong></h1>
      <p class="lead">Contact information for NSA university partners.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {% for university in universities %}
    <div class="panel panel-default">
      <div class="panel-heading"><strong>{{ university.universityName }}</strong> <em>{{ university.centerName }}</em></div>
      <div class="panel-body">

        <div class="row text-center">
          <div class="col-md-4">
            <em>{{ university.centerEmail }}</em>
          </div>

          <div class="col-md-4">
            {{ university.designation }}
          </div>
          <div class="col-md-4">
            <strong>{{ university.isPublic }}</strong>
          </div>
        </div>
        {% for person in university.people.all %}
          <div class="row">
            <div class="col-md-4 well">
              <p>{{ person.titleName }}</p>
              <p><strong>{{ person.name }}</strong></p>
              <p><em>{{ person.email }}</em></p>
            </div>
          </div>
        {% empty %}
          <p>There are no people in the database.</p>
        {% endfor %}
      </div>
    </div>
    {% empty %}
      <p>There are no universities in the database.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
