{% extends 'layouts/base.html' %}

{% block title %}
NSA Out of Academia
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>NSA OUT OF ACADEMIA</strong></h1>
      <p class="lead">Peacefully opposing the NSA on our campuses.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <a href="#universities">
    <button type="button" class="btn btn-danger btn-lg btn-block">Find My School</button>
  </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>Through the <a href="http://nullifynsa.com/"><em>Turn It Off</em></a> NSA Nullification campaign, it came to my attention that there are 166 colleges in the United States that have partnerships with the NSA.</p> 
  </div>
</div>

{% endblock %}
