{% extends 'layouts/base.html' %}

{% block title %}
NSA Out of Academia
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>NSA OUT OF ACADEMIA</strong></h1>
      <p class="lead">Peacefully opposing the NSA on our campuses.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <a href="#universities">
    <button type="button" class="btn btn-danger btn-lg btn-block">Find My School</button>
  </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <legend>What's the deal with the NSA?</legend>
    <legend>Why oppose the NSA on our campuses?</legend>
    <p>Simply put, the actions of the NSA are antithetical to an academic environment.</p>
    <legend>What can we do about it?</legend>
    <legend>Has anything like this worked in the past?</legend>
    <legend>What if I'm still unconvinced?</legend>
    <p>That's okay! Though I created this site in mind to oppose the NSA on campus, it's a neutral platform. You're more than welcome to use the services provided on this site to the support the NSA.</p>
    <p>Through the <a href="http://nullifynsa.com/"><em>Turn It Off</em></a> NSA Nullification campaign, it came to my attention that there are 166 colleges in the United States that have partnerships with the NSA.</p>
  </div>
</div>

{% endblock %}
